*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display:flex;
}

.box{
    padding:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.content-2{
    margin-left:10px;
}

