<h1>Angular</h1>
<!-- <span>{{task.assignee?.name}}</span> -->
<!-- <app-like [isLiked]="tweet.isLiked" [body]="tweet.body" [likesCount]="tweet.likesCount"></app-like> -->
<!-- <course></course> -->
<!-- <app-favorite [click-check]="post.clickCheck" (change)="onFavChange($event)"></app-favorite> -->
<!-- <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container> -->
    <!-- <p>can use ng-container instead html tags</p> -->
    <!-- <div class="body">
        <h2>Body</h2>
        <p>Paragraph</p>
    </div>
</bootstrap-panel> -->
<!-- <app-about-ng></app-about-ng> -->

<!-- <input type="text" appInputFormat="'uppercase'"/> -->
<!-- 
<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<br/>
<zippy title="Billing Details">
     Billing Details Content
</zippy> -->
<app-form></app-form>

