.form-group{
    padding:5px 10px;
}

input{
    margin: 10px 0px 0px 0px;
    border-radius: 5px;
    padding:5px;
    border:1px solid salmon;
}

textarea{
    margin: 10px 0px;
}

.alert{
    color:red;
    font-size:12px;
    background-color: rgb(250, 179, 179);
    padding:5px;
    width:max-content;
    margin-top:2px;
}

.form-control.ng-touched.ng-invalid{
    border:1px solid red;
}

.form-control.ng-touched{
    border:1px solid cornflowerblue;
}